<?xml version="1.0" encoding="utf-8" ?> 
<Settings>
  <Global>
    <Items>
      <!--Log Settings-->
      <Item Key="Core.Log.Storage.File.Enabled" Value="true" />
      <Item Key="Core.Log.Storage.File.LogLevel" Value="255" />
      <Item Key="Core.Log.Storage.Html.Enabled" Value="true" />
      <Item Key="Core.Log.Storage.Html.LogLevel" Value="255" />
      <Item Key="Core.Log.Storage.Console.Enabled" Value="true" />
      <Item Key="Core.Log.Storage.Console.LogLevel" Value="1023" />
      <Item Key="Core.Log.Storage.Messages.Enabled" Value="true" />
      <Item Key="Core.Log.Storage.Messages.LogLevel" Value="131" />
      
      <!--Trace Settings-->
      <Item Key="Core.Trace.UseAbsolutePath" Value="false" />
      <Item Key="Core.Trace.Serializer" Value="TWCore.Serialization.NSerializer.NBinarySerializer, TWCore.Serialization.NSerializer" />
      <Item Key="Core.Trace.Compressor" Value="TWCore.Compression.DeflateCompressor, TWCore" />
      <Item Key="Core.Trace.Storage.File.Enabled" Value="true" />
      <Item Key="Core.Trace.Storage.Messages.Enabled" Value="true" />

      <!--Status Settings-->
      <Item Key="Core.Status.Transport.Http.Enabled" Value="true" />
      <Item Key="Core.Status.Transport.File.Enabled" Value="false" />
      <Item Key="Core.Status.Transport.File.Triggers.Periodic.Enabled" Value="false" />
      <Item Key="Core.Status.Transport.File.Triggers.Periodic.TimeInMinutes" Value="60" />
      <Item Key="Core.Status.Transport.Messages.Enabled" Value="false" />
    </Items>
  </Global>
  
  <AppSettings Name="TWCore.Diagnostics.Api">
    <Items>
      <Item Key="Core.Log.Storage.File.Path" Value="./logs/TWCore.Diagnostics.Api.txt" />
      <Item Key="Core.Log.Storage.Html.Path" Value="./logs/TWCore.Diagnostics.Api.htm" />
      <Item Key="Core.Trace.BasePath" Value="./traces" />
      <Item Key="Core.Status.Transport.File.Path" Value="./status" />
      <Item Key="Core.Status.Transport.File.Format" Value="TWCore.Diagnostics.Api [STATUS]-{yyyy}-{MM}-{dd}_{HH}-{mm}" />
      <Item Key="Core.Status.Transport.Http.Port" Value="28905" />
      <Item Key="RavenDb.Database" Value="Diagnostics" />
      <Item Key="RavenDb.Urls" Value="http://10.10.1.52:8080" />
      <Item Key="Bot.DefaultEnvironment" Value="Docker" />
      <Item Key="Bot.DataFolder" Value="./botdata" />

      <Item Key="Diagnostics.TracesFolderPath" Value="./tracesdata" />
      <Item Key="Diagnostics.StoreTracesToDisk" Value="true" />
      <Item Key="Diagnostics.WriteInBinary" Value="false" />
      <Item Key="Diagnostics.WriteInXml" Value="true" />
      <Item Key="Diagnostics.WriteInJson" Value="false" />
      <Item Key="Diagnostics.ForceBinaryOnApp" Value="" />
      <Item Key="Diagnostics.ForceXmlOnApp" Value="" />
      <Item Key="Diagnostics.ForceJsonOnApp" Value="Agsw.Travel.Api;" />
      
      <Item Key="Core.Services.Queue.ConfigFile" Value="./settings/queues.redis.xml" />
    </Items>
    <Overwrite EnvironmentName="Docker" MachineName="">
      <Item Key="Core.Status.Transport.Http.Port" Value="{Env:DIAGNOSTICS_STATUS_HTTP_PORT}" />
      <Item Key="RavenDb.Database" Value="{Env:DIAGNOSTICS_RAVENDB_DATABASE}" />
      <Item Key="RavenDb.Urls" Value="{Env:DIAGNOSTICS_RAVENDB_URLS}" />
      <Item Key="Bot.DefaultEnvironment" Value="{Env:DIAGNOSTICS_BOT_DEFAULTENVIRONMENT}" />
      <Item Key="Bot.SlackToken" Value="{Env:DIAGNOSTICS_BOT_SLACKTOKEN}" />
      <Item Key="Core.Services.Queue.ConfigFile" Value="{Env:DIAGNOSTICS_QUEUE_CONFIG}" />
    </Overwrite>
  </AppSettings>

</Settings>
