<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/styles/kendo.common.min.css" />
    <link rel="stylesheet" href="~/styles/kendo.default.min.css" />
    <link rel="stylesheet" href="~/styles/kendo.default.mobile.min.css" />
    <link rel="stylesheet" href="~/styles/kendo.materialblack.min.css" />
    <link rel="stylesheet" href="~/styles/kendo.materialblack.mobile.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/kendo.all.min.js"></script>
</head>
<body>
@RenderBody()
</body>
</html>
