<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/styles/kendo.common.min.css" />
    <link rel="stylesheet" href="~/styles/kendo.default.min.css" />
    <link rel="stylesheet" href="~/styles/kendo.default.mobile.min.css" />
    <link rel="stylesheet" href="~/styles/kendo.materialblack.min.css" />
    <link rel="stylesheet" href="~/styles/kendo.materialblack.mobile.min.css" />
    <link rel="shortcut icon" href="~/images/favicon.png" type="image/png" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/kendo.all.min.js"></script>
    
    <script src="~/lib/codemirror.js"></script>
    <link rel="stylesheet" href="~/lib/codemirror.css">
    <link rel="stylesheet" href="~/addon/fold/foldgutter.css" />
    <link rel="stylesheet" href="~/addon/dialog/dialog.css">
    <link rel="stylesheet" href="~/addon/search/matchesonscrollbar.css">
    <link rel="stylesheet" href="~/theme/lesser-dark.css">
    <link rel="stylesheet" href="~/theme/icecoder.css">
    <script src="~/addon/edit/matchbrackets.js"></script>
    <script src="~/addon/edit/closebrackets.js"></script>
    <script src="~/addon/selection/active-line.js"></script>
    <script src="~/addon/fold/foldcode.js"></script>
    <script src="~/addon/fold/foldgutter.js"></script>
    <script src="~/addon/fold/brace-fold.js"></script>
    <script src="~/addon/fold/xml-fold.js"></script>
    <script src="~/addon/dialog/dialog.js"></script>
    <script src="~/addon/search/searchcursor.js"></script>
    <script src="~/addon/search/search.js"></script>
    <script src="~/addon/scroll/annotatescrollbar.js"></script>
    <script src="~/addon/search/matchesonscrollbar.js"></script>
    <script src="~/addon/search/jump-to-line.js"></script>
    <script src="~/addon/mode/loadmode.js"></script>
    <script src="~/mode/meta.js"></script>
</head>
<body>
@RenderBody()
</body>
</html>
