@{
    ViewData["Title"] = "TWCore Object Viewer";
}

<div id="viewport">
    <div id="head">
        TWCore Object Viewer
    </div>
    <div id="body">
        <div id="fileMenu" class="k-content">
            <ul id="fileView"></ul>
        </div>
        <div id="objectPanel">
            <div id="description">
                <div id="descriptionInner"></div>
            </div>
            <div id="code">
                <textarea id="editor"></textarea>
            </div>
        </div>
    </div>
    <span id="popupNotification"></span>

    <script id="description-template" type="text/x-kendo-template">
        <div class='description-name #:data.member#'>#: name #</div>
    </script>

    <script>
        var apiUrl = "/api/";
        $(document).ready(function () {
            $("#body").kendoSplitter({
                panes: [
                    { collapsible: true, size: "300px" },
                    { collapsible: false, min: "30%" },
                ]
            });
            $("#objectPanel").kendoSplitter({
                orientation: "vertical",
                panes: [
                    { collapsible: true },
                    { collapsible: true, size:"300px" },
                ]
            });

            var popupNotification = $("#popupNotification").kendoNotification().data("kendoNotification");

            var fileListUrl = apiUrl + "files/list.json";
            var fileDataSource = new kendo.data.HierarchicalDataSource({
                transport: {
                    read: {
                        url: function (options) {
                            if (options.name)
                                return fileListUrl + "?path=" + options.name;
                            else
                                return fileListUrl;
                        },
                        dataType: "json"
                    }
                },
                schema: {
                    data: function (response) {
                        for (var i = 0; i < response.entries.length > 0; i++) {
                            var entry = response.entries[i];
                            entry.isDirectory = entry.type == "Directory";
                            entry.path = response.current + entry.name;
                            if (entry.name.substring(0, 1) == "\\" || entry.name.substring(0, 1) == "/")
                                entry.name = entry.name.substring(1);
                            entry.spriteCssClass = entry.isDirectory ? "folder" : entry.isBinary ? "file" : "text";
                        }
                        return response.entries;
                    },
                    model: {
                        id: "path",
                        hasChildren: "isDirectory"
                    }
                }
            });

            $("#fileView").kendoTreeView({
                dataSource: fileDataSource,
                dataTextField: "name",
                select: function (e) {
                    e.preventDefault();
                    var tree = $('#fileView').data('kendoTreeView');
                    var dataItem = tree.dataItem(e.node)
                    if (dataItem.isDirectory) return;
                    $.ajax({
                        url: apiUrl + "files/load.json?path=" + dataItem.path,
                        dataType: 'json',
                        crossDomain: true,
                        xhrFields: {
                            withCredentials: true
                        },
                        success: function (result) {
                            if (result.loaded) {
                                popupNotification.show(" File " + dataItem.path + " was loaded, compiling...", "info");


                                $.ajax({
                                    url: apiUrl + "code/set.json",
                                    contentType: "application/json",
                                    type: "POST",
                                    dataType: 'json',
                                    crossDomain: true,
                                    xhrFields: {
                                        withCredentials: true
                                    },
                                    data: "\"" + $("#editor").val() + "\"",
                                    success: function (data) {
                                        $("#editor").val(data);

                                        $.ajax({
                                            url: apiUrl + "code/compile.json",
                                            dataType: 'json',
                                            crossDomain: true,
                                            xhrFields: {
                                                withCredentials: true
                                            },
                                            success: function (data) {
                                                console.log(data);
                                                popupNotification.show(" Description loaded.", "info");

                                                var ktl = $("#descriptionInner").data("kendoTreeList");
                                                if (ktl) {
                                                    ktl.destroy();
                                                    $("#descriptionInner").empty();
                                                }
                                                $("#descriptionInner").kendoTreeList({
                                                    dataSource: {
                                                        data: data,
                                                        schema: {
                                                            model: {
                                                                id: "id",
                                                                expanded: false
                                                            }
                                                        }
                                                    },
                                                    selectable: true,
                                                    resizable: true,
                                                    columns: [
                                                        { field: "name", title: "Name", template: $("#description-template").html() },
                                                        { field: "value", title: "Value" },
                                                        { field: "type", title: "Type" }
                                                    ]
                                                });
                                            }
                                        });

                                    }
                                });
                            }
                            else {
                                kendo.alert("Error loading file.");
                            }
                        }
                    });
                }
            });

            $.ajax({
                url: apiUrl + "code/get.json",
                headers: { 'Cookie': document.cookie },
                dataType: 'json',
                crossDomain: true,
                xhrFields: {
                    withCredentials: true
                },
                success: function (data) {
                    console.log(data);
                    $("#editor").val(data);
                }
            });
        });
    </script>



    <style>
        html, body {
            margin: 0 0;
            padding: 0 0;
            overflow: hidden;
            font-family: 'Roboto', sans-serif;
            font-size: 0.9em;
            border-width: 0px;
        }

        #viewport {
            height: 100vh;
            display: flex;
            flex-direction: column;
        }

        #head {
            background-color: #222222;
            color: #ffffff;
            padding: 15px;
            font-family: 'Roboto', sans-serif;
            font-size: 2em;
            background-image: url("images/CSWPFWeb_32x.png");
            background-repeat: no-repeat;
            padding-left: 64px;
            background-size: 32px;
            background-position-y: center;
            background-position-x: 20px;
        }

        #body {
            height: 100%;
            padding: 0px;
            margin: 0px;
            border-width: 0px;
        }

        #fileMenu {
            display: flex;
            flex-direction: column;
            font-size: 1em;
            background-color: #222;
        }

        #objectPanel {
            padding: 0px;
            margin: 0px;
            overflow: hidden;
        }

        #fileView {
            position: absolute;
            padding: 10px;
            top: 0px;
            bottom: 0px;
        }
        #code {
        }
        #description {
            overflow: hidden;
        }
        #descriptionInner{
            border-width: 0;
            margin: 0;
            padding: 0;
            height: 100%;
        }
        #editor {
            position: absolute;
            color: #ffffff;
            background-color: transparent;
            font-family: Courier New;
            width: 97%;
            height: 91.5%;
            border: solid 0px;
            font-size: 1em;
            resize: none;
            padding: 15px;
        }

        #fileView .k-sprite {
        }

        .folder {
            background-image: url("images/Folder_16x.png");
        }

        .file {
            background-image: url("images/Mail_16x.png");
        }
        .text {
            background-image: url("images/MarkupTag_16x.png");
        }

        .description-name {
            width: 16px;
            height: 16px;
            padding-left: 22px;
            background-repeat: no-repeat;
            display: inline;
        }

        .Field {
            background-image: url("images/Field_16x.png");
        }
        .Property {
            background-image: url("images/Property_20x.png");
        }
        .Method {
            background-image: url("images/Method_16x.png");
        }
        .Object {
            background-image: url("images/Object_16x.png");
        }
        .k-grid td {
            border-width: 0 0 1px 1px;
            padding: .1em .4em;
            line-height: 1.5em;
        }
    </style>
</div>

